
body {
background-color: white;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:14px;
color: #fff;
margin: 40px;
text-align:center;
}

a, h1, h3{
color:black;
text-decoration:none;
border: 0;
}

a:focus { 
outline: none; 
}


h1 {
margin: 10px 0;
padding: 0;
}

#wrapper {
margin: 0 auto;
width: 100%;
max-width:970px;	
text-align:left;
}


/* Base Carousel Styles from Bootstrap CSS */

.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel .item > img {
  display: block;
  line-height: 1;
}

.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}

.carousel .active {
  left: 0;
}

.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel .next {
  left: 100%;
}

.carousel .prev {
  left: -100%;
}

.carousel .next.left,
.carousel .prev.right {
  left: 0;
}

.carousel .active.left {
  left: -100%;
}

.carousel .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 45%; /*little change here*/
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h4 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 0;
}


.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}


/* Ocean Carousel */
#oceanCarousel {
  position: relative;
  width: 610px;
}

#oceanCarousel .item  a {
  float: left;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  text-decoration: none;
}

/* Ocean Carouse2 */
#oceanCarousel2 {
  position: relative;
  width: 100%;
}

#oceanCarousel2 .item {
  position: relative;
  display: block;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

#oceanCarousel2 .item img {
  display: block;
  line-height: 1;
}

/* Musicians Carousel */
#musiciansCarousel {
  position: relative;
  width: 100%;
}

#musiciansCarousel .item a {
  float: left;
  display: inline-block;
  width: 600px;
  height: 400px;
  text-decoration: none;

}

